@charset "UTF-8";
/***************
 * General
 ***************/
html, body {
  height: 100%; }

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-family: '微軟正黑體';
  font-size: 14px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.page {
  position: relative; }

section#about,
section#landing {
  position: relative;
  padding-top: 8vh; }
  section#about .container,
  section#landing .container {
    position: relative;
    width: 90vw;
    height: 84vh;
    background: #d6d6d6;
    -webkit-box-shadow: 0 0 50px 0 rgba(2, 0, 45, 0.3);
    box-shadow: 0 0 50px 0 rgba(2, 0, 45, 0.3); }
  section#about #main_img,
  section#landing #main_img {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    right: 120px;
    background: #000; }
    @media (max-width: 790px) {
      section#about #main_img,
      section#landing #main_img {
        right: 0;
        width: 200px; } }
  section#about #start,
  section#landing #start {
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 100px;
    right: 200px;
    background: #fff; }
    @media (max-width: 790px) {
      section#about #start,
      section#landing #start {
        right: 0; } }
  section#about .your_class .slick-next,
  section#about .your_class .slick-prev,
  section#landing .your_class .slick-next,
  section#landing .your_class .slick-prev {
    opacity: 0; }
  section#about .your_class .item,
  section#landing .your_class .item {
    height: 100%; }

section#landing_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: auto; }
  section#landing_menu #logo {
    width: 200px;
    height: 200px;
    background: #000; }
  section#landing_menu #menu_item {
    padding: 50px;
    color: #000; }
    section#landing_menu #menu_item a {
      color: #000;
      text-decoration: none; }
    section#landing_menu #menu_item .item {
      margin-bottom: 20px;
      font-size: 18px;
      cursor: pointer; }
      section#landing_menu #menu_item .item:hover {
        background: red; }

@media (max-width: 790px) {
  section#about .container {
    height: auto; }
    section#about .container .left_img {
      height: 60%; }
    section#about .container .right_about {
      height: 40%; } }

section#about .left_img {
  background: #adadad;
  width: 100%;
  height: 100%; }

section#about .right_about {
  width: 100%;
  height: 100%; }
