html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset='UTF-8')
    title 豪華GAY船與色誘團
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet prefetch', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/style.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css')  
    link(rel="icon", href="https://i.imgur.com/TkId2V2.png", type="image/png")

block body_navigation
  include navigation     
body
  .page
    section#gallery
      .container
        .row
          .col-xs-12(style="padding: 0")
            .your_class
              .item(style="background-image: url('../data/bgimage/end_1.jpg')")
                .word
                  .name 淤積
                  .content
                    h4 
                      | 給阿溫
                      br
                      br
                      | 測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試

              .item(style="background: cadetblue")
                .word
              .item(style="background: coral")
                .word
              .item(style="background: gray") 
              .item(style="background: green") 
              .item(style="background: yellow") 
        .row
          .col-xs-12
            .your_class_gallery
              .item(style="background-image: url('../data/bgimage/end_1.jpg')")
              .item(style="background: cadetblue") 
              .item(style="background: coral") 
              .item(style="background: gray") 
              .item(style="background: green") 
              .item(style="background: yellow") 
    section#landing_menu
      a(href="../index.html")
        #logo
      #menu_item.hidden-xs
        a(href="../about.html") 
          .item About
        a(href="../gallery.html") 
          .item Gallery
        .item Bonus
        .item Infor
      #menu_btn_mobile.visible-xs
        .icon
      .menu_item_mobile
        ul
          li dddd
          li sdsds
          li sdsd
          li sdcsd


  script.
    $(document).ready(function(){
      $('.your_class').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrow: false,
        fade: true,
        asNavFor: '.your_class_gallery'
      });
      $('.your_class_gallery').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        asNavFor: '.your_class',
        dot: true,
        focusOnSelect: true
      });
    });
    $('.icon').on('click', function() {
      $(this).toggleClass('on');
      $('.menu_item_mobile').fadeToggle(200);
    });
  script(type='text/javascript', src="//code.jquery.com/jquery-1.11.0.min.js")
  script(type='text/javascript', src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js")


 


