html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset='UTF-8')
    title 豪華GAY船與色誘團
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet prefetch', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/style.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css')  
    link(rel="icon", href="https://i.imgur.com/TkId2V2.png", type="image/png")

block body_navigation
  include navigation     
body
  .page
    section#gallery
      .container
        .row
          .col-xs-12(style="padding: 0")
            .your_class
              .item(style="background-image: url('../data/bgimage/end_1.jpg')")
                .word
                  .name 淤積
                  .content
                    h4 
                      | 給阿溫
                      br
                      | 測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試

              .item(style="background-image: url('../data/bgimage/special.jpg')")
                .word
                  .name 紅 / 愛玉
                  .content
                    h4 
                      | 【愛玉】
                      br
                      | 有幸受邀參加一年Ｎ度的成果發表會，這次感覺又是不得了的規模啊......你們是怪物嗎?發自內心覺得大家真的又厲害又用心。
                      | 希望阿羊每一年都能增加更多美好的回憶，感到疲憊時也能因此回血。未來有機會的話，大家真的一起搭趟郵輪出國玩也不錯呢！
                      | 祝阿羊生日快樂喔！
                      br
                      br
                      | 【紅】
                      br
                      | YA~覺得又完成了一個人生的目標！希望阿羊會喜歡我們為你準備的生日大禮~
                      | 又長一歲，祝福你平安健康，早日找到屬於自己的歸宿，快快樂樂地過日子~
                      | 有機會也想一起出去玩玩~覺得跟ㄎㄧㄤ友出去玩好像會遇到很多好玩的事情(？)
                      | 生日快樂喔！

              .item(style="background: coral")
                .word
              .item(style="background: gray") 
              .item(style="background: green") 
              .item(style="background: yellow") 
        .row
          .col-xs-12
            .your_class_gallery
              .item(style="background-image: url('../data/bgimage/end_1.jpg')")
              .item(style="background-image: url('../data/bgimage/special.jpg')") 
              .item(style="background: coral") 
              .item(style="background: gray") 
              .item(style="background: green") 
              .item(style="background: yellow") 
    section#landing_menu
      a(href="../index.html")
        #logo
      #menu_item.hidden-xs
        a(href="../about.html") 
          .item About
        a(href="../gallery.html") 
          .item Gallery
        .item Bonus
        .item Infor
      #menu_btn_mobile.visible-xs
        .icon
      .menu_item_mobile
        ul
          li dddd
          li sdsds
          li sdsd
          li sdcsd


  script.
    $(document).ready(function(){
      $('.your_class').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrow: false,
        fade: true,
        asNavFor: '.your_class_gallery'
      });
      $('.your_class_gallery').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        asNavFor: '.your_class',
        dot: true,
        focusOnSelect: true
      });
    });
    $('.icon').on('click', function() {
      $(this).toggleClass('on');
      $('.menu_item_mobile').fadeToggle(200);
    });
  script(type='text/javascript', src="//code.jquery.com/jquery-1.11.0.min.js")
  script(type='text/javascript', src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js")


 


