html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset='UTF-8')
    meta(property="og:image" content="../Images/cover.png")
    title 豪華GAY船與色誘團
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet prefetch', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/style.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700')    
    link(rel="icon", href="https://i.imgur.com/15WDDz5.png", type="image/png")

block body_navigation
  include navigation     
body
  .page
    section#landing
      .container
        .row
          .col-xs-12(style="padding: 0")
            .your_class
              .item(style="background: #7fffd4") 
                .item_mask(style="background-image: url('../Images/carousel_img.png')")
              .item(style="background: #ff6671") 
                .item_mask(style="background-image: url('../Images/carousel_img_2.png')")
              .item(style="background: #87c3fa") 
                .item_mask(style="background-image: url('../Images/carousel_img_3.png')")
              .item(style="background: #f8ff3a") 
                .item_mask(style="background-image: url('../Images/carousel_img_4.png')") 
        #main_mask     
        #main_img
        #main_btn
          #item_1
            img(src="../Images/large_btn.png")
          #item_2
            img(src="../Images/large_btn_2.png")
        a#start(href="../test.html", target="_blank") START
    section#landing_menu
      a(href="../index.html")
        #logo
      #menu_item
        a(href="../gallery.html") 
          .item Gallery
        a(href="../bonus_pas.html") 
          .item Bonus
        a(href="../infor.html") 
          .item Infor

  script.
    $(document).ready(function(){
      $('.your_class').slick({
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
  script(type='text/javascript', src="//code.jquery.com/jquery-1.11.0.min.js")
  script(type='text/javascript', src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js")


 


